<!DOCTYPE html>
<html>
  <center><head>
    <title>coSquare - Marketplace for co-working spaces</title>
  </head>
  <body>
    <h1>Workspace that is right for you</h1>
    <p>Endless possibilities at the palm of your hand.
      Browse our collection of private offices, shared desks, full-fledged units, and meetings rooms.
      Book with ease, for any length at any place.</p>
    <a>Explore Locations</a>
    <a>Feature Your Venue</a>
    <img>
    <img>
    <img>
    <img>
    <img>
    <h2>How coSquare works</h2>
    <p>We welcome all guests and hosts to our community<p>
    <a>Learn about coSquare</a>
    <h2>Subcribe</h2>
    <p>Sign up with your email address to receive news and updates.</p>
  </body>
  <footer>
    <a>Instagram</a>
    <a>Twitter</a>
    <a>LinkedIn</a>
    <a>Facebook</a>
  </footer></center>
</html>
